.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1976D2;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
  position: relative;

  &:hover {
    color: white;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::before {
    width: 100%;
    left: 0;
  }
}

.flex-item-right {
  display: flex;
  gap: 20px;
}

.flex-item-right a {
  margin-right: 20px;
}

.larger-icon {
  font-size: 27px;
}
